[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


$icons: (
  telescope: '\e02a',
  gears: '\e02b',
  key: '\e02c',
  paperclip: '\e02d',
  attachment: '\e02e',
  pricetags: '\e02f'

);

@each $icon, $content in $icons {
    .icon-#{$icon}{
      &:before {
        content: '#{$content}';
      }
    }
}
